*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
#container{
    width: 100%;
    height: 100vh;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-top: 20px;
}
.logo{
    width: 120px;
}
.list-items{
    list-style: none;
    display: inline;
    margin: 0px 20px;
}
.links{text-decoration: none;
       color: black;
       font-weight: 600;
       font-size: 15px;
}
.links:hover{
    color: red;
    text-decoration: underline;
}
.home-content{
    margin: 13% 0px 0px 8%;
}
#username{
    font-size: 60px;
    font-family: "Qwitcher Grypen", serif;
}
#lname{
    font-family: "Qwitcher Grypen", serif;
    color: orange;
    font-weight: 600;
}
#user-details{
    line-height: 1.5;
}
#download{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 15px;
}
.home-img{
    width: 45%;
    height: 75%;
    position: absolute;
    bottom: 0px;
    left: 50%;
    right: 30px;
}
.group1{
    position: absolute;
    height: 100%;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 2s,left 2s;
}
.home-img:hover #shape{
    bottom: 80px;
}
.home-img:hover #girl{
    left: 30%;
}
#about{
    margin: 15% 0px 0px 8%;
}
.sectionhead{
    text-align: center;
}
.mainhead{
    font-size: 30px;
}
.subhead{
    color: green;
    font-size: 20px;
}
.aboutbody{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    align-items: center;
}
.img1{
    width: 100%;
}
.aboutcontent{
    font-size: 18px;
    text-align: justify;
}
.information{
    margin-top: 1.3rem;
}
.infobox{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.infobox>span{
    margin-left: 1rem;
}
.skills{
    margin: 15% 8% 0px 8%;
}
.skillcontents{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    margin-top: 20px;
}
.bars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 0px;
}
.barhead, .barpercent{
    font-weight: 600;
    font-size: 1.3rem;
}
.basebar{
    width: 100%;
    height: 0.5rem;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
}
.htmlbar{
    background-color: orange;
    width: 84%;
}
.cssbar{
    background-color: orange;
    width: 79%;
}
.jsbar{
    background-color: orange;
    width: 70%;
}
.reactbar{
    background-color: orange;
    width: 85%;
}
#contact{
    margin: 8% 8% 0px 8%;
}
.iconcollections{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* border: solid 2px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}
.brands{
    color: black;
    font-size: 2rem;
}
.icon:hover{
    background-image: linear-gradient(to bottom right,red,orange,yellow);
}
.icon:hover .brands{
    color: white;
    /* animation */
    animation: rotate 4s;
}
@keyframes rotate{
    0%{
        transform: rotate(30deg);
    }
    20%{
        transform: rotate(-30deg);
    }
    40%{
        transform: rotate(30deg);
    }
    60%{
        transform: rotate(-30deg);
    }
    80%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(-30deg);
    }
}
#copyright{
    text-align: center;
    font-weight: 600;
}
.uparrow{
    float: right;
    margin-top: -40px;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: aliceblue;
}
::-webkit-scrollbar-thumb{
    background-color: orange;
    border-radius: 10px;
}